In [2]:
import pandas as pd

In [3]:
mk1_customer = pd.read_json(r"C:\Users\USER\Data-pipeline-Individual\Market 1 Customers.json")

In [4]:
mk1_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer ID          4177 non-null   int64
 1   Last Used Platform   4177 non-null   object
 2   Is Blocked           4177 non-null   int64
 3   Created At           4177 non-null   object
 4   Language             4177 non-null   object
 5   Outstanding Amount   4177 non-null   int64
 6   Loyalty Points       4177 non-null   int64
 7   Number of employees  3139 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 261.2+ KB

In [5]:
pd.json_normalize(mk1_customer['Number of employees'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[4177 rows x 0 columns]

In [6]:
mk1_customer.columns

Index(['Customer ID', 'Last Used Platform', 'Is Blocked', 'Created At',
       'Language', 'Outstanding Amount', 'Loyalty Points',
       'Number of employees'],
      dtype='object')

In [9]:
column_to_drop = ['Number of employees']

In [11]:
mk1_cus = mk1_customer.drop(column_to_drop, axis =1)

In [12]:
mk1_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         4177 non-null   int64
 1   Last Used Platform  4177 non-null   object
 2   Is Blocked          4177 non-null   int64
 3   Created At          4177 non-null   object
 4   Language            4177 non-null   object
 5   Outstanding Amount  4177 non-null   int64
 6   Loyalty Points      4177 non-null   int64
dtypes: int64(4), object(3)
memory usage: 228.6+ KB